# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary names
server

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of go generate
**/mock/*mock.go

# Data stored in local dev environment
.local_test_env/
