name: Backend
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        go get -v github.com/golang/mock/mockgen@1.3.1

    - name: Build
      run: go build -v ./...

    - name: Generate
      run: |
        export PATH=$PATH:~/go/bin
        go generate -v ./...
      continue-on-error: true

    - name: Generate2
      run: |
        export PATH=$PATH:~/go/bin
        go generate -v ./...      

    - name: Unit Test
      run: go test -v -test.short ./...
